@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');

.about_page{
    display: flex;
    justify-content: center;
}

.about_body{
    color: white;
    border-radius: 40px;
    display: grid;
    grid-template-columns: 42% 42%;
    grid-template-rows: 42% 42%;
    grid-gap: 5%;
    justify-content: center;
    padding-top: 5%;
    background: linear-gradient( black,#536b74,#536b74,black);
    height: 120vh;
    width: 80%;
    margin-top: 10vw;
    margin-bottom: 10vw;
}

.about_photo{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.photo{
    border-radius: 5px;
}

.about_text{
    font-family: 'Arimo', sans-serif
}

.google_map{
    height: 100%;
    width: 100%;
}

.facebook{
    cursor: url("./../images/cursor.png"), auto;
    width: 120px;
}

.photo{
    width: 100%;
    height: 100%
}