@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');

.main_header{
    position: fixed;
    top: 0px;
    height: 65px;
    width: 100%;
    background-color:  rgb(39,39,39);
    display: flex;
    justify-content: space-around;
    align-content: center;
}

a{
    text-decoration: none;
}

.main_header div{
    margin-top: 20px;
    border: none;
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    height: 40px;
    color: white;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
}

.main_header div:hover{
    background-color: #161616;
    cursor: url("./../images/cursor.png"), auto;
}