@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');

.main_header{
    position: fixed;
    top: 0px;
    height: 65px;
    width: 100%;
    background:  linear-gradient(rgb(39,39,39), #161616,rgb(39,39,39));
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main_header a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    /* display: flex;
    justify-content: center;
    height: 65px; */
}
/* 
.main_header i{
    color: white;
} */

.main_header div{
    border: none;
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 21.25px;
    padding-bottom: 21.25px;
    
}

.main_header a:hover{
    /* background-color: #161616; */
    background-color: #15b371;
    cursor: url("./../images/cursor.png"), auto;
}

@media (max-width: 1200px){
    .main_header{
     font-size: 20px;
    }
    .main_header div{

    }
}

@media (max-width: 1000px){
 
}

@media (max-width: 800px){
  
}

@media (max-width: 550px){
   
}

@media (max-width: 360px){
    .main_header div{
        font-size: 15px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 21.25px;
        padding-bottom: 21.25px;
    }
}