@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.button{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
    padding: 20px;
    background:  linear-gradient(rgb(39,39,39), #161616,rgb(39,39,39));
    border: none;
    border-radius: 15px;
    font-family: 'Arimo', sans-serif;
    color: white;
    text-shadow: 2px 2px #161616;
    box-shadow: 5px 5px #161616;
}

.button:hover{
    background: #15b371;
    cursor: url("./../images/cursor.png"), auto;
}

.home_slider{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    margin-top: 100px;
}

.home_slider img{
    border-radius: 10px;
}
