.wrapper{
    display: grid;
    grid-template-columns: repeat(5, 15vw);
    grid-gap: calc(15vw/4);
    margin: 5vw;
}

.wrapper button{
    width: 95px;
    cursor: url("./../images/cursor.png"), auto;
    background-color: #fca311;
}
.product_box {
    border-radius: 5px;
    background-color: rgb(39,39,39);
    /* opacity: .75; */
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    color: white;
}
.placeholder {
    width: 95%;
    height: 85%;
    padding-top: 5px;
    padding-bottom: 2.5px;
}

.placeholder img{
    height: 75%;
    width: 100%;
}

.placeholder p{
    margin-bottom: 0px;
}

.product_info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

/* .soups{
    display: none;
} */
 
.first_food_header{
    margin-top: 10vw;
    height: 65px;
    width: 100vw;
    background-color:  rgb(39,39,39);
    display: flex;
    justify-content: space-around;
    align-content: center;
    color: white;
}

.food_header{
    margin-top: 5vw;
    height: 65px;
    width: 100vw;
    background-color:  rgb(39,39,39);
    display: flex;
    justify-content: space-around;
    align-content: center;
    color: white;
}