.wrapper{
    display: grid;
    grid-template-columns: repeat(5, 15vw);
    grid-gap: calc(15vw/4);
    margin: 5vw;
}

.wrapper button{
    width: 95px;
    cursor: url("./../images/cursor.png"), auto;
}
.product_box {
    border-radius: 5px;
    background-color: #b1e8af;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.placeholder {
    width: 95%;
    height: 85%;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

.placeholder img{
    height: 75%;
    width: 100%;
}

.product_info{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .soups{
    display: none;
} */
 
.first_food_header{
    margin-top: 10vw;
    height: 65px;
    width: 100vw;
    background-color:  rgba(7,64,38, 0.75);
    display: flex;
    justify-content: space-around;
    align-content: center;
    color: #b1e8af;
}

.food_header{
    margin-top: 5vw;
    height: 65px;
    width: 100vw;
    background-color:  rgba(7,64,38, 0.75);
    display: flex;
    justify-content: space-around;
    align-content: center;
    color: #b1e8af;
}