.user_page{
    display: grid;
    grid-template-columns: 42% 42%;
    grid-template-rows: 42% 42%;
    grid-gap: 5%;
    padding-top: 5%;
    background-color: #034e2f;
    height: 120vh;
    width: 80%;
    margin-top: 10vw;
    margin-bottom: 10vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    justify-content: center;
}

.order_history{
    background-color: #191919;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border-radius: 5px;
}

.order_history div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
    height: 50px;
    border-radius: 5px;
    margin: 25px;
}

.user_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #191919;
    padding: 25px;
    border-radius: 5px;
}

.user_info div{
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: #eeeeee;
    height: 35px;
    border-radius: 5px;
}

.user_info button{
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    background-color: #eb5424;
    height: 40px;
    border: none;
    border-radius: 5px;
    width: 50%
}