.user_page{
    display: grid;
    grid-template-columns: 42% 42%;
    grid-template-rows: 42% 42%;
    grid-gap: 5%;
    padding-top: 5%;
    background: linear-gradient( black,#536b74,#536b74,black);
    height: 120vh;
    width: 80%;
    margin-top: 10vw;
    margin-bottom: 10vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    justify-content: center;
}

.order_history{
    background:  linear-gradient(rgb(39,39,39), #161616,rgb(39,39,39));
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border-radius: 5px;
}

.order_history div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
    height: 50px;
    border-radius: 5px;
    margin: 25px;
}

.user_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background:  linear-gradient(rgb(39,39,39), #161616,rgb(39,39,39));
    padding: 25px;
    border-radius: 5px;
}

.info_box{
    display: flex;
    align-items: row;
    padding-left: 20px;
    height: 35px;
    border-radius: 5px;
}

.info_box div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #eeeeee;
    height: 35px;
    border-radius: 5px;
}

.category{
    width: 30%;
    font-weight: bold;
}

.info{
    width: 60%;
}

.user_info button{
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    background: linear-gradient(#fca311, #E69510,#fca311);
    cursor: url("./../images/cursor.png"), auto;
    height: 40px;
    border: none;
    border-radius: 5px;
    width: 50%
}

.user_info button:hover{
    background: #15b371;
}

@media (max-width: 360px){
    .order_history{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        font-size: 10px;
    }
    .user_info{
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        font-size: 10px;
        padding-left: 5px;
        font-size: 10px;
    }
    .user_info button{
        width: 70%;
        margin-left: 45px;
    } 
    .info{
        width: 65%;
        font-size: 12px;
    }
}