@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-image: url("./images/bamboo.jpg"); */
  background-color: #E5E5E5;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Arimo', sans-serif;
}
